.admin{
    font-size: 13px;
}

.admin2{
    font-size: 14px;

    text-align: center;
}

ion-footer {
    position: fixed;
    bottom: 0px; 
    width: 100%;
  }

  .custom-header {
    height: 80px; /* Ajusta la altura */
    display: flex;
    align-items: center; /* Centra verticalmente el contenido */
}