<app-header title="Error 404 Pagina No Existe"></app-header>
<ion-content>
  <div class="d-flex-center">
    <h1 class="ion-text-center">
      No se encontro la pagina.
    </h1>
    <BR>
  </div>
  <div class="d-flex-center">

    <h4 class="ion-text-center">
      Lo sentimos, el vinculo que quieres acceder puede ser invalido, o puede ser que ya no exista
    </h4>

  </div>
  <div class="d-flex-center">

    <ion-button color="primary" class="ion-margin-top" expand="block" routerLink="/auth"
      routerLinkActive="router-link-active" mode="md">
      Ir a Inicio
      <ion-icon slot="end" name="open-outline"></ion-icon>
    </ion-button>
    <br>  
  </div>
  <br>
  <div class="d-flex-center">


    <img src="../../assets/icon/error.jpg" alt="" width="800" height="400">
   
  </div>
  <br><br><BR>
</ion-content>